:root {
    --primary-color: rgba(13, 110, 139, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: #15AAF0;
}

h1 {
    font-family: 'Marhey';
}



.section-title h2 {
    font-family: 'Marhey';
    text-align: center;
    font-size: 2.5em;
    padding-top: 90px;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

 #showcase {
    background: var(--primary-color);
    color: white;
    height: 100vh;
}

#showcase:before {
    content: '';
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: static;
}

.#showcase h1 {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: #15AAF0;
    color: black;
    font-weight: bolder;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

/* navigation section */
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #08415C;
    transition: all .5s ease;
}

.sidebar .logo {
    text-align: center;
    padding: 30px;
}


.sidebar ul a {
    margin-top: 20px;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul li:hover a {
    background-color:#118AC2 ;
}

#check {
    display: none;
}

label #btn,label, #cancel {
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

label #btn {
    left: 20px;
    top: 25px;
    font-size: 35px;
    color: white;
    transition: all .5s ease;
}

label #btn:hover {
    transform: rotate(180deg);
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    color: white;
    font-size: 30px;
    padding: 4px 9px;
    transition: all .5s ease;
}

label #cancel:hover {
    transform: rotate(180deg);
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 100px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}



/* Attractions section */

.container2 {
    position: relative;
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
}